# Project exclude paths
/.gradle/
/build/
/build/classes/java/client/
.idea

# Local runtime/cache output
/.lwjgl/
/.tools/
/assets/
/state/
/tmp/

/run/*
!/run/resourcepacks/
/run/resourcepacks/*
!/run/resourcepacks/testpack/
!/run/resourcepacks/testpack/**
run